.cont{
    margin: 1rem auto 1rem;
    height:1350px;
    border-radius:10px;
}

.cursonome{
    padding: 1rem;

    color:white;
    background-image: linear-gradient(to right, #FC5707, #51199E);

    font: bold 1.4rem arial;

    text-align: center;
    text-transform: uppercase;
    
    border-radius: 10px 10px 0 0;
    box-shadow: 3px 3px 5px rgba(0,0,0, .5);
}